# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 5d43a3f20f0b0766eb398488e714dde9c39313fd55b5d4ab3e805d27c3a879acead14360d0aa64ec72cf9dae3474ed161d574bdf46028e7cb79c094a6303b9ce

test:
  secret_key_base: ed570cbe38b9899fc7e7d8f97f56e51efce8f2ea1fbfc84420ae06aea43a8b9797588d820d0c4b6d7d78ce0cc0568e5b038d3cf552bfe2c4086e3a086cc3ab80

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
