#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.profile-name {
  margin-top: 20px;
  margin-left: 20px;
}

.comment-post {
  padding: 10px;
}

.reply-time {
  margin-left: 400px;
}

.comment-children {
  margin-left: 10px;
}

.form-initial-load {
  display: none;
}

.subcomment {
  margin-left: 70px;
  padding: 10px;
}

.to-group {
  font-weight: bold;
}

.top-header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

h1 {
  margin-top: 60px;
}

.col-md-3.top-nav {
  position: fixed;
}

img.post-image {
  height: 300px;
  width: 500px;
}

img.image {
  height: 315px;
  width: 80%;
  margin: 10px 122px;
}
