<div class="col-md-3 top-nav">
  <div class="logo">
    <a href="index.html"><h1>Blogger</h1></a>
  </div>
  <div class="top-menu">
    <span class="menu"> </span>
    <ul class="cl-effect-16">
    </ul>
    <ul class="side-icons">
      <li><%= link_to "", class: "fb" %></li>
      <li><%= link_to "", class: "twitt" %></li>
      <li><%= link_to "", class: "goog" %></li>
      <li><%= link_to "", class: "drib" %></li>
    </ul>
  </div>
</div>
