<div class="h-top" id="home">
  <div class="top-header">
    <ul class="cl-effect-16 top-nag">
      <li><%= link_to t(".menu.home"), "#", data:{hover: t(".menu.home")} %></li>
      <li>
        <%= link_to t(".menu.registration"), "#", data:{hover: t(".menu.registration")} %>
      </li>
      <li><%= link_to t(".menu.login"), "#", data:{hover: t(".menu.login")} %></li>
    </ul>
    <div class="search-box">
       <div class="b-search">
        <form>
          <input type="text" value="Search">
          <input type="submit" value="">
        </form>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
